{% extends "layouts/base.html" %}
{% load static bootstrap_tags %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Add item{% endblock title %}

{% block content %}

    <div class="container">
        <h1>Add item to {{ organization.name }}</h1>
        <div class="row">
            <div class="col-md-8">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ add_form|as_bootstrap }}
                    <div class="form-actions">
                        <input type="submit" value="Add" class="btn btn-primary btn-lg" />
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8" id="gallery_container">
			</div>
		</div>
    </div><!-- /.container -->


{% endblock content %}
{% block scripts %}
<script src="{{ STATIC_PREFIX }}js/handlebars-v2.0.0.js"></script>

<script>
	var org_slug = '{{org_slug}}';
	var settings = {'url': '/api/item/search/?q=' + org_slug + '&format=json'};
</script>
<script src="{{ STATIC_PREFIX }}js/add.js"></script>

<script id="image-template" type="text/x-handlebars-template">
{% verbatim %}
	{{#each item}}
		<img src="{{path}}" width="200">
	{{/each}}	
</script>
{% endverbatim %}


{% endblock scripts %}
