# These are the Python packages we depend on.
# Something like pip install -r requirements.txt should install
# these dependencies for you.

Django==1.6
MySQL-python==1.2.5
South==1.0
django-pipeline==1.3.23
django-tastypie==0.12.1
django-forms-bootstrap==3.0.1
celery==3.1.16
Pillow==2.6.1
kombu==3.0.24
billiard==3.3.0.19 #Do we need this? It seems to be tied to Celery/Kombu?
pytz==2014.9
beautifulsoup4==4.3.2
requests==2.4.3

# deployment
gunicorn==18.0
gevent==1.0.1
