.bookmarklet-install-step {
    margin-top:25px;
    margin-bottom:25px;
}

.bookmarklet-install-step .badge {
    font-size:24px;
    min-width:24px;
    padding:8px 14px;
    border-radius:22px;
    background-color:#AB76E8;
    margin-right:8px;
}

/* Item page for org page - start */

.single-item-container {
    background-color: #f5f6f7;
    margin-top: 5px;
    padding: 10px 0;
}

/* Item page for org page - end */

/* Dashboard */

.dashboard-row {
    margin-top:35px;
}

.count-label {
    font-family: $sans-font;
    font-size:12px;
    margin-bottom:0px;
    margin-top:0px;
    color:#888;
    font-weight:400;
}

.count-number {
    font-family: $sans-font;
    font-size:48px;
    font-weight:500;
    line-height:1.1em;
    color: #333;
}

/* Dashboard end */