{% extends "layouts/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}<title>Generate a bookmarklet</title>{% endblock title %}

{% block content %}

    <div class="container">
        <h1>Install bookmarklet</h1>
        <div class="row">
            <div class="col-md-8">
                <h4 class="bookmarklet-install-step"><span class="badge">1</span> Choose how to sign your contributions</h4>
          <form class="form" role="form">
            <p><input type="text" class="form-control input-lg" placeholder="Your name or Twitter handle" id="bookmarklet-name"></p>
          </form>
          <h4 class="bookmarklet-install-step"><span class="badge">2</span> Drag this bookmarklet into your browser toolbar</h4>
          <a id="bookmarklet" class="btn btn-primary btn-lg" href="javascript:(function(){%20window.open(%22http://{{bookmarklet_domain}}/add-item?link=%22+encodeURIComponent(%20location.href)+%22&title=%22+encodeURIComponent(document.title)+%22&bookmarklet_key={{bookmarklet_key}}&contributor=%22);%20})();">Give away</a>
          </div>
        </div>

    </div><!-- /.container -->


{% endblock content %}
{% block scripts %}
<script>
$('#bookmarklet-name').keyup(function() {
	  var name = $(this).val();
	  var bookmarklet = "javascript:(function(){%20window.open(%22http://{{bookmarklet_domain}}/add-item?link=%22+encodeURIComponent(%20location.href)+%22&title=%22+encodeURIComponent(document.title)+%22&bookmarklet_key={{bookmarklet_key}}&contributor=" + name + "%22);%20})();";
	  $("#bookmarklet").attr('href', bookmarklet);
	});
</script>
{% endblock scripts %}