{% extends "layouts/tray-base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Add item{% endblock title %}

{% block content %}

    <div class="container add-item-tray">
        <div class="row">
            <div class="col-md-8">
                <form class="form-inline" method="post" action="" id="submit-item">
  					<div class="form-group">	
                    	<textarea name="description" id="description" placeholder="So this was kinda interesting…"></textarea>
                    </div>
                    <input type="submit" value="Add" class="btn btn-primary" />
                </form>
                <div id="signal-success" style="display:none;">Success!</div>
                <div id="signal-failure" style="display:none;">Something went wrong</div>
            </div>
        </div>
    </div><!-- /.container -->


{% endblock content %}
{% block scripts %}
<script type="text/javascript">
	var CSRF_TOKEN = "{{ csrf_token }}"
	description='{{description}}',
	link='{{link}}',
	bookmarklet_key='{{bookmarklet_key}}';
</script>
<script>
$( document ).ready(function() {
  
  $( "#submit-item" ).submit(function( event ) {
  var description = $('#description').val();
  	$.post('/add-item-service/', {description: description, bookmarklet_key: bookmarklet_key, csrfmiddlewaretoken: CSRF_TOKEN, description: description, link: link}).done(function(data) {
		$("#signal-success").fadeIn();
  	setTimeout('parent.postMessage("loadMyOrders","*")', 750);
		}).fail(function(data) {
    		$("#signal-failure").fadeIn();
    		});
  	//parent.postMessage("loadMyOrders","*");
  	return false;
});

});
</script>
{% endblock scripts %}