{% extends "layouts/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Items{% endblock title %}

{% block content %}

    <div class="container">
        <h1>All your items</h1>
		<div id="item-container"></div>
    </div><!-- /.container -->


{% endblock content %}

{% block scripts %}
	<script src="{{ STATIC_PREFIX }}js/handlebars-v2.0.0.js"></script>
	<script>
		var org_slug = '{{org_slug}}';
		var settings = {'url': '/api/item/search/?q=' + org_slug + '&format=json'};
		
	
	</script>
	<script src="{{ STATIC_PREFIX }}js/item.js"></script>
	
	
	<script id="item-template" type="text/x-handlebars-template">
	{% verbatim %}
		{{#each item}}
			<div class="row single-item-container">
				<div class="col-xs-8">	
					<p><a href="{{link}}" target="_blank">{{title}}</a></p>
					<p>{{description}}</p>
					<p>{{contributor}}</p>
					<p>{{contributed_date}}</p>
				</div>
				<div class="col-xs-4">
					<img src="{{thumbnail}}" width=300>
				</div>
			</div>
		{{/each}}	
	</script>
	{% endverbatim %}
{% endblock scripts %}

