{% extends "layouts/base.html" %}
{% load static bootstrap_tags %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}SignalBack{% endblock title %}

{% block content %}

    <div class="container landing">
        <div class="row logo-container">
            <div class="col-xs-9 col-centered">
				<div class="row">
					<div class="col-sm-8">
						<img src="{{ STATIC_PREFIX }}img/logo.jpg" class="img-responsive" id="logo">
		            </div>
					<div class="col-sm-4">
						<p class="text-center">Teams use SignalBack to collect and share their web discoveries.</h3>
						<button type="button" class="btn btn-primary center-block">Try SignalBack</button>
		            </div>
				</div>
			</div> <!-- column container -->
		</div> <!-- row -->
		
        <div class="row">
            <div class="col-xs-9 col-centered">
				<div class="row">
					<div class="col-sm-6">
						<h3>Remarkably simple</h3>
						<p>Use the SignalBack browser button when you find a link worth sharing. One click is all it takes to "signal back" to your party.</p>
		            </div>
		            <div class="col-sm-6">
						<img src="{{ STATIC_PREFIX }}img/paperplanes.jpg" class="img-responsive paperplanes">
		            </div>
				</div> <!-- nested row -->
			</div> <!-- column container -->
		</div> <!-- row -->


        <div class="row">
            <div class="col-xs-9 col-centered">
				<div class="row">
		            <div class="col-sm-6">
						<img src="{{ STATIC_PREFIX }}img/boombox.png" class="img-responsive boombox">
		            </div>
					<div class="col-sm-6">
						<h3>Automate your social web</h3>
						<p>Turn up the volume and push your discoveries out to Twitter, your blog, and beyond using the API.</p>
		            </div>
				</div> <!-- nested row -->
			</div> <!-- column container -->
		</div> <!-- row -->
		
		
        <div class="row">
            <div class="col-xs-9 col-centered">
				<div class="row">
		            <div class="col-sm-6">
						<h3>Create culture</h3>
						<p>SignalBack brings you and your collaborators together to discuss common interests. Conversation creates culture.</p>
		            </div>
					<div class="col-sm-6">
						<img src="{{ STATIC_PREFIX }}img/picnic-table.png" class="img-responsive picnic-table">
		            </div>
				</div> <!-- nested row -->
			</div> <!-- column container -->
		</div> <!-- row -->
		
		
        <div class="row">
            <div class="col-xs-9 col-centered">
				<div class="row">
					<div class="col-sm-6">
						<img src="{{ STATIC_PREFIX }}img/change.png" class="img-responsive change">
		            </div>
		            <div class="col-sm-6">
						<h3>Try it for free</h3>
						<p>Use SignalBack for 30 days for zero dollars. After that, it's $5 per team member per month. Libraries are free for life.</p>
						<button type="button" class="btn btn-primary">Try SignalBack</button>
		            </div>
				</div> <!-- nested row -->
			</div> <!-- column container -->
		</div> <!-- row -->


        <div class="row">
            <div class="col-xs-9 col-centered">
				<div class="row">
					<div class="col-xs-12">
						<p class="text-center tagline">Share your links. Keep your social web fresh. Build your culture.</p>
					</div>
				</div>
			</div>
		</div>
		
		
    </div><!-- /.container -->


{% endblock content %}