{% extends "layouts/base.html" %}
{% load static bootstrap_tags %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}SignalBack{% endblock title %}

{% block content %}

    <div class="container landing">
        <div class="row">
            <div class="col-sm-12">
				<img src="{{ STATIC_PREFIX }}img/logo.png" class="img-responsive" id="logo">
				<p class="text-center tagline">Share your links. Keep your social web fresh. Build your culture.</p>
            </div>
		</div>
		
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
				<div class="ill-placeholder center-block"></div>
            </div>
            <div class="col-sm-5">
				<h3>A tool to share links</h3>
				<p>Teams use SignalBack to share links with each other. Collect and exchange your web discoveries with your collabrorators.</p>
				<button type="button" class="btn btn-success">Try SignalBack Now</button>
            </div>
		</div>
		
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
				<h3>Keep local or be social</h3>
				<p>SignalBack makes it easy for your team to share its collective reading broadly. Push your discoveries out to Twitter, a blog, and beyond using the API.</p>
            </div>
            <div class="col-sm-5">
				<div class="ill-placeholder center-block"></div>
            </div>
			
		</div>
		
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
				<div class="ill-placeholder center-block"></div>
            </div>
            <div class="col-sm-5">
				<h3>Easy in, easy out</h3>
				<p>Use the SignalBack bookmarklet or browser extension to add things to your SignalBack account. It's just two clicks to signal to your team that you've found something amazing on the Web.</p>
            </div>
		</div>
		
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
				<h3>Culture and communication</h3>
				<p>Why should you use SignalBack? Teams grow and build culture by discussing common interests. And, spreading your social media workload across the team is pretty nice too.</p>
            </div>
            <div class="col-sm-5">
				<div class="ill-placeholder center-block"></div>
            </div>
		</div>
		
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
				<div class="ill-placeholder center-block"></div>
            </div>
            <div class="col-sm-5">
				<h3>Try it for free</h3>
				<p>Use SignalBack for 45 days for zero dollars. After that, it's $5 per team member per month. Libraries are free.</p>
				<button type="button" class="btn btn-success">Try SignalBack Now</button>
            </div>
		</div>
		
		<div class="footer">
			<h3 class="text-center">Share your links. Keep your social web fresh. Build your culture.</h3>
		</div>
		
		
    </div><!-- /.container -->


{% endblock content %}