{% extends "layouts/base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-4">	
			<h2>Register</h2>
			<form method="post" action="">
				{% csrf_token %}
				 <fieldset>
				<span class="text-error"><br/>{{ form.non_field_errors }}</span>
				{% for field in form %}
				  <br /><label for="id_{{ field.name }}">{{ field.label }}</label><br/>
				  {{ field }}
				  {% if field.errors %}
					{% for error in field.errors %}<span class="text-error"><br/>{{ error }}</span>{% endfor %}
				  {%elif field.help_text %}
					<span class="help-inline"><br/>{{ field.help_text }}</span>
				  {% endif %}<br/>
				{% endfor %}  
			  </fieldset>
				<button type="submit" class="btn-success">Create account</button>
			</form>
		</div>
		
	</div>
{% endblock content %}
{% block scripts %}
<script>
$(document).ready(function(){
    $('input[type=email]:first').focus();
});
</script>
{% endblock scripts %}
