$heading_font = 'Montserrat', sans-serif;
$body_font = 'Lato', sans-serif;

$background_gray = #ecf0f1;

h1, h2, h3, h4, h5, h6 {
    font-family: $heading_font;
    color: #ab76e8;
    text-transform:uppercase;
}

body {
    color:#666;
    font-family: $body_font;
    font-size:18px;
}

.navbar-collapse, .navbar-default {
	background-color: #fff;
	border-color: #fff;
	box-shadow: none;
}

.btn-primary {
	margin-top: 9px;
	border-radius: 1px;
	border-color: #50b7f1;
	color: #50b7f1;
}


/* ########################## */
/* # Landing page             */
/* ########################## */



/* @import 'landing'; */

/* our dividing stripes */

.landing .dividing-stripe {
	background-color: #5ecc66;
}

.landing .dividing-stripe .row {
	margin: 0;
	padding: 7px 0;
	margin-left: -15px; /* A kludgy way to remove our nexted boostrap padding */
}

.landing .dividing-stripe .row p {
	font-size: 35px;
	color: #fff;
	margin: 0;
}


.landing .zebra-stripe {
	background-color: $background_gray;
}

#steps-image {
	/* TODO: resize this image to 230px */
}

#steps-desc {
	font-size: 50px;
	margin-top: 0px;
	text-align: center;
	color: #666;
	margin-bottom: -5px;	
}

.step-title {
	font-size: 28px;
	color: #666;
	margin-right: 10px;
	font-weight: 400;
}

.step-body {
	color: #555;
	margin-top: 20px;
	font-weight: 300;
	font-size: 20px;
}

.desc-title {
	font-size: 28px;
	color: #444;
	margin-bottom: 2px;
}

.need-it .row {
	padding-top: 60px;
	padding-bottom: 60px;
}

.landing #try-button {
	padding: 8px 34px;
	font-size: 24px;
	margin-top: 30px;
}

/* ########################## */
/* # / Landing page           */
/* ########################## */


/* ########################## */
/* # Items page             */
/* ########################## */



/* @import 'landing'; */

/* our dividing stripes */


.items .single-item-container {
	margin-bottom: 15px;
	background-color: $background_gray;
}


/* ########################## */
/* # / Items page             */
/* ########################## */






/* ########################## */
/* # Media queries            */
/* ########################## */


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	
	#logo {
		margin-top: 40px;
	}
	
	
	#tagline {
		font-size: 45px;
		line-height: 56px;
		max-width: 750px;
		margin-top: 40px;
		margin-bottom: 110px;
		color: #666;
	}
	
	.landing .zebra-stripe {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
    .container {
		width: 970px;
		}
}

/* ########################## */
/* # / Media queries          */
/* ########################## */









/* ########################## */
/* # Old Stuff                */
/* ########################## */




/* Dashboard */

.dashboard-row {
    margin-top:35px;
    margin-bottom:35px;
}

.dashboard-invite-new {
    position:relative;
    top:-5px;
    text-transform:none;
}

.contributors-list {
    border-bottom:1px solid #e89625;
    margin-bottom:25px;
}

.count-label, .listed-contributor-items span {
    font-size:14px;
    margin-bottom:0px;
    margin-top:0px;
    color:#888;
    font-weight:400;
}

.count-number {
    font-size:48px;
    font-weight:500;
    line-height:1.1em;
    color: #333;
}

.listed-contributor {
    border-top:1px solid #e89625;
    background-color:#fffff7;
}

.listed-contributor-email {
    padding-top:15px;
    padding-bottom:15px;
    height:75px;
}

.listed-contributor-items {
    font-size:32px;
    padding-top:10px;
    padding-bottom:15px;
} 

.listed-contributor-items span {
    margin-left: 5px;
    display:inline-block;
}

.listed-contributor-active {
    font-size:14px;
    padding-top:30px;
    color:#888;
}

.listed-contributor-email button {
    display:none;
    margin-top:4px;
}

.listed-contributor:hover small {
    display:none;
}

.listed-contributor small {
    display:block;
}

.listed-contributor:hover button {
    display:block;
}

/* Dashboard end */

/* Add item start */
#gallery-container {
    height: 250px;
    padding: 10px 0;
}

#gallery-container img {
    max-height: 200px;
    margin-right:20px;
    border: 1px solid #ddd;
    cursor: pointer;
}

#gallery-container .selected-image {
    border-bottom: 8px solid #dddbff;
    cursor: default;
}

#gallery-container .selectable-image {
    border-bottom: 8px solid #ddd;
}

#gallery-container .selectable-image:hover {
    border-bottom: 8px solid #b9e3ff;
}

#gallery-container #image-placeholder {
    height: 200px;
    width: 200px;
    border: solid #bbb 1px;
}

#gallery-container #image-placeholder p{
    font-size: 13px;
}

#gallery-container #image-placeholder img{
    margin: 80px 85px;
    border: none;
    cursor: default;
}

/* Add item end */


/* ########################## */
/* # / Old Stuff              */
/* ########################## */
