@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\000036}}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #ab76e8;
  text-transform: uppercase; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000312}}
  body {
    color: #666;
    font-family: 'Lato', sans-serif;
    font-size: 18px; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000318}}
    .navbar-collapse, .navbar-default {
      background-color: #fff;
      border-color: #fff;
      box-shadow: none; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000324}}
      .btn-primary {
        margin-top: 9px;
        border-radius: 1px;
        border-color: #50b7f1;
        color: #50b7f1; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000342}}
        .landing .dividing-stripe {
          background-color: #5ecc66; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000346}}
          .landing .dividing-stripe .row {
            margin: 0;
            padding: 7px 0;
            margin-left: -15px; }

            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000352}}
            .landing .dividing-stripe .row p {
              font-size: 35px;
              color: #fff;
              margin: 0; }

              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000359}}
              .landing .zebra-stripe {
                background-color: #ecf0f1; }

                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000367}}
                #steps-desc {
                  font-size: 50px;
                  margin-top: 0px;
                  text-align: center;
                  color: #666;
                  margin-bottom: -5px; }

                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000375}}
                  .step-title {
                    font-size: 28px;
                    color: #666;
                    margin-right: 10px;
                    font-weight: 400; }

                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000382}}
                    .step-body {
                      color: #555;
                      margin-top: 20px;
                      font-weight: 300;
                      font-size: 20px; }

                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000389}}
                      .desc-title {
                        font-size: 28px;
                        color: #444;
                        margin-bottom: 2px; }

                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000395}}
                        .need-it .row {
                          padding-top: 60px;
                          padding-bottom: 60px; }

                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003100}}
                          .landing #try-button {
                            padding: 8px 34px;
                            font-size: 24px;
                            margin-top: 30px; }

                            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003118}}
                            @media only screen and (min-width : 320px) {
                              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003118}}
                              #logo {
                                margin-top: 40px;   }
                                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003123}}
                                #tagline {
                                  font-size: 45px;
                                  line-height: 56px;
                                  max-width: 750px;
                                  margin-top: 40px;
                                  margin-bottom: 110px;
                                  color: #666;   }
                                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003132}}
                                  .landing .zebra-stripe {
                                    padding-top: 60px;
                                    padding-bottom: 60px;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003156}}
@media only screen and (min-width : 1200px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003156}}
  .container {
    width: 970px;   }
}
