@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000312}}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #555;
  text-transform: uppercase; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000318}}
  body {
    color: #666;
    font-family: 'Lato', sans-serif;
    font-size: 18px; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000324}}
    .navbar-collapse, .navbar-default {
      background-color: #fff;
      border-color: #fff;
      box-shadow: none; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000330}}
      .btn-primary {
        margin-top: 9px;
        border-radius: 1px;
        border-color: #54ace8;
        color: #666;
        background-color: #fff; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000338}}
        .nav .btn:hover {
          background-color: #eaf5fc;
          color: #666;
          border-color: #54ace8; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000344}}
          .nav a {
            margin-top: 16px; }

            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000348}}
            .nav a.btn {
              margin-top: 20px;
              margin-right: 10px;
              padding: 10px;
              padding-left: 25px;
              padding-right: 25px;
              font-size: 18px; }

              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000368}}
              .landing .dividing-stripe {
                background-color: #58c361; }

                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000372}}
                .landing .dividing-stripe .row {
                  margin: 0;
                  padding: 7px 0;
                  margin-left: -15px; }

                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000378}}
                  .landing .dividing-stripe .row p {
                    font-size: 35px;
                    color: #fff;
                    margin: 0; }

                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000385}}
                    .landing .zebra-stripe {
                      background-color: #fdfdfc; }

                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\0000393}}
                      #steps-desc {
                        font-size: 50px;
                        margin-top: 0px;
                        text-align: center;
                        color: #777;
                        margin-bottom: -5px;
                        font-weight: 300; }

                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003102}}
                        .step-title {
                          font-size: 34px;
                          color: #54ace8;
                          margin-right: 10px;
                          font-weight: 300; }

                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003109}}
                          .step-body {
                            color: #555;
                            margin-top: 20px;
                            font-weight: 300;
                            font-size: 21px; }

                            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003116}}
                            .desc-title {
                              font-size: 47px;
                              line-height: 46px;
                              color: #54ace8;
                              margin-bottom: 2px;
                              font-weight: 300; }

                              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003124}}
                              .landing li {
                                list-style: none; }

                                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003128}}
                                .landing #try-button {
                                  padding: 8px 34px;
                                  font-size: 24px;
                                  margin-top: 40px;
                                  width: 250px; }

                                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003151}}
                                  .items .single-item-container {
                                    margin-bottom: 15px;
                                    background-color: #fdfdfc; }

                                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003166}}
                                    .collaborator {
                                      max-width: 500px; }
                                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003168}}
                                      .collaborator img {
                                        width: 150px;
                                        height: 150px;
                                        border-radius: 50%;
                                        display: block;
                                        margin: auto;
                                        cursor: pointer; }
                                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003177}}
                                        .collaborator label.upload-label {
                                          width: 100%; }
                                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003181}}
                                          .collaborator label.upload-label input[type="file"] {
                                            position: fixed;
                                            top: -1000px; }
                                            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003186}}
                                            .collaborator .upload-pic-button {
                                              border-radius: 2px;
                                              display: block;
                                              width: 100%;
                                              margin: 55px auto 0 auto;
                                              padding: 5px 13px;
                                              border: 1px solid #54ace8;
                                              ;
cursor: pointer;
                                              font-weight: 400;
                                              text-align: center; }
                                              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003198}}
                                              .collaborator input {
                                                margin: 10px 0;
                                                width: 100%;
                                                border: 1px solid #ccc;
                                                border-radius: 2px;
                                                padding: 5px 13px; }
                                                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003206}}
                                                .collaborator input[type="submit"] {
                                                  border: 1px solid #54ace8;
                                                  background-color: #fff;
                                                  border-radius: 2px; }
                                                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003212}}
                                                  .collaborator .field-label {
                                                    float: right; }
                                                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003216}}
                                                    .collaborator .pic-status, .collaborator .name-status {
                                                      display: none;
                                                      color: #54ace8;
                                                      text-align: center;
                                                      font-size: 15px; }
                                                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003223}}
                                                      .collaborator .name-email-row, .collaborator picture-row {
                                                        margin-top: 50px; }
                                                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003227}}
                                                        .collaborator .picture-row {
                                                          margin-top: 50px; }
                                                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003231}}
                                                          .collaborator .title {
                                                            text-align: center;
                                                            margin-top: 20px;
                                                            font-size: 37px;
                                                            color: #555; }
                                                            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003238}}
                                                            .collaborator .intro-text {
                                                              text-align: center;
                                                              font-size: 14px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003258}}
@media only screen and (min-width : 320px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003258}}
  #logo {
    margin-top: 40px;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003263}}
    #tagline {
      font-size: 47px;
      line-height: 56px;
      max-width: 750px;
      margin-top: 40px;
      margin-bottom: 110px;
      font-weight: 300;
      color: #666;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003273}}
      .landing .zebra-stripe {
        padding-top: 80px;
        padding-bottom: 80px;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003278}}
        .need-it {
          padding-top: 40px;
          padding-bottom: 20px;   }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003283}}
          .need-it .row {
            padding-top: 50px;
            padding-bottom: 50px;   }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003288}}
            .need-it .paperplanes {
              margin-top: -20px;   }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003292}}
              .need-it .controls {
                margin-left: 60px;   }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003296}}
                .need-it .controls-img {
                  margin-top: -10px;   }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003300}}
                  .need-it .picnic {
                    margin-top: 25px;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003325}}
@media only screen and (min-width : 1200px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003325}}
  .container {
    width: 970px;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003343}}
.docs.api .api-warning {
  border: 1px #FF3535 solid;
  background-color: #FF3535;
  padding: 15px 15px 0 15px;
  margin-top: 30px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003350}}
  .docs.api .api-warning p {
    font-weight: 300;
    color: #fff;
    font-size: 22px;
    display: inline;
    vertical-align: top; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003358}}
    .docs.api span {
      margin-right: 15px;
      font-size: 30px;
      color: #fff;
      margin-bottom: 15px; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003365}}
      .docs.api glyphicon {
        margin-top: 5px; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003369}}
        pre {
          margin-top: 15px;
          margin-bottom: 15px;
          background-color: #fafafb;
          border-color: #ddd;
          color: #444;
          margin-left: 0; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003399}}
          .dashboard-row {
            margin-top: 35px;
            margin-bottom: 35px; }

            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003404}}
            .dashboard-invite-new {
              position: relative;
              top: -5px;
              text-transform: none; }

              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003410}}
              .contributors-list {
                border-bottom: 1px solid #e89625;
                margin-bottom: 25px; }

                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003415}}
                .count-label, .listed-contributor-items span {
                  font-size: 14px;
                  margin-bottom: 0px;
                  margin-top: 0px;
                  color: #888;
                  font-weight: 400; }

                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003423}}
                  .count-number {
                    font-size: 48px;
                    font-weight: 500;
                    line-height: 1.1em;
                    color: #555; }

                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003430}}
                    .listed-contributor {
                      border-top: 1px solid #e89625;
                      background-color: #fffff7; }

                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003435}}
                      .listed-contributor-email {
                        padding-top: 15px;
                        padding-bottom: 15px;
                        height: 75px; }

                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003441}}
                        .listed-contributor-items {
                          font-size: 32px;
                          padding-top: 10px;
                          padding-bottom: 15px; }

                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003447}}
                          .listed-contributor-items span {
                            margin-left: 5px;
                            display: inline-block; }

                            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003452}}
                            .listed-contributor-active {
                              font-size: 14px;
                              padding-top: 30px;
                              color: #888; }

                              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003458}}
                              .listed-contributor-email button {
                                display: none;
                                margin-top: 4px; }

                                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003463}}
                                .listed-contributor:hover small {
                                  display: none; }

                                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003467}}
                                  .listed-contributor small {
                                    display: block; }

                                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003471}}
                                    .listed-contributor:hover button {
                                      display: block; }

                                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003478}}
                                      #gallery-container {
                                        height: 250px;
                                        padding: 10px 0; }

                                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003483}}
                                        #gallery-container img {
                                          max-height: 200px;
                                          margin-right: 20px;
                                          border: 1px solid #ddd;
                                          cursor: pointer; }

                                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003490}}
                                          #gallery-container .selected-image {
                                            border-bottom: 8px solid #dddbff;
                                            cursor: default; }

                                            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003495}}
                                            #gallery-container .selectable-image {
                                              border-bottom: 8px solid #ddd; }

                                              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003499}}
                                              #gallery-container .selectable-image:hover {
                                                border-bottom: 8px solid #b9e3ff; }

                                                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003503}}
                                                #gallery-container #image-placeholder {
                                                  height: 200px;
                                                  width: 200px;
                                                  border: solid #bbb 1px; }

                                                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003509}}
                                                  #gallery-container #image-placeholder p {
                                                    font-size: 13px; }

                                                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/phillipsm\/dev_area\/signalback\/items\/static\/css\/style\.scss}line{font-family:\00003513}}
                                                    #gallery-container #image-placeholder img {
                                                      margin: 80px 85px;
                                                      border: none;
                                                      cursor: default; }
